OLLAMA_URL=http://192.168.77.1:12001/api/generate
OLLAMA_TAGS_URL=http://192.168.77.1:12001/api/tags
SEARXNG_SEARCH_URL=http://127.0.0.1:8081/search?q={query}&format=json
COMFYUI_URL=http://192.168.77.1:8188
WEBUI_SECRET_KEY=change-me
COMFYUI_AUTO_START=false